<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day5</display-name>
  <context-param>
    <param-name>Nokbeondev</param-name>
    <param-value>Wonjun</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <!--<welcome-file>semantic.jsp</welcome-file>-->
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCServlet</display-name>
    <servlet-name>JDBCServlet</servlet-name>
    <servlet-class>control.JDBCServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCServlet</servlet-name>
    <url-pattern>/JDBC.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>control.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/signup.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeCycleServlet</display-name>
    <servlet-name>LifeCycleServlet</servlet-name>
    <servlet-class>control.LifeCycleServlet</servlet-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeCycleServlet</servlet-name>
    <url-pattern>/lifecycle.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextTest</display-name>
    <servlet-name>ServletContextTest</servlet-name>
    <servlet-class>control.ServletContextTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextTest</servlet-name>
    <url-pattern>/servletcontexttest.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DupchkServlet</display-name>
    <servlet-name>DupchkServlet</servlet-name>
    <servlet-class>control.DupchkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DupchkServlet</servlet-name>
    <url-pattern>/DupchkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dupchkservlet</display-name>
    <servlet-name>Dupchkservlet</servlet-name>
    <servlet-class>control.Dupchkservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dupchkservlet</servlet-name>
    <url-pattern>/Dupchkservlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>control.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/move.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>control.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productlist.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDetailServlet</display-name>
    <servlet-name>ProductDetailServlet</servlet-name>
    <servlet-class>control.ProductDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDetailServlet</servlet-name>
    <url-pattern>/productdetail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>control.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addcart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartServlet</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>control.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewcart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>control.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addorder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewOrderServlet</display-name>
    <servlet-name>ViewOrderServlet</servlet-name>
    <servlet-class>control.ViewOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewOrderServlet</servlet-name>
    <url-pattern>/vieworder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPostServlet</display-name>
    <servlet-name>SearchPostServlet</servlet-name>
    <servlet-class>control.SearchPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPostServlet</servlet-name>
    <url-pattern>/searchpost.do</url-pattern>
  </servlet-mapping>
</web-app>